:root {
  --black: #000000;
  --white: #ffffff;
  --charcoal: #435861;
  --slate: #e0e6e9;
  --spearmint: #6e9277;
  --misty-blue: #a0bec5;
  --shadow: 0px 0px 3px 1px #ddd;
}

body {
  margin: 0;
  font-family: sans-serif;
  text-align: center;
  color: var(--black);
  background-color: var(--white);
}

/* * {
  border: 1px solid teal;
} */

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

main {
  min-height: 70vh;
  flex-grow: 5;
}

nav,
aside {
  background-color: var(--slate);
  flex-grow: 2;
}

header {
  background-color: var(--charcoal);
  height: 35px;
}

footer {
  background-color: var(--charcoal);
  flex-grow: 2;
}

@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  main {
    max-width: 60vw;
  }

  nav {
    flex-grow: unset;
    width: 200px;
  }

  footer {
    width: 100vw;
  }
}

a {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  line-height: 16px;
  font-size: 14px;
  border-radius: 3px;
  box-shadow: var(--shadow);
  background: honeydew;
}

a:hover {
  padding: 11px;
  margin: 8px;
  font-size: 15px;
}

.App {
  text-align: initial;
}
